.genderCatelog {
  // background-color: rgba(28, 60, 49, 0);
  width: 25em;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 25em;
  background-size: cover;
  border: 2px solid rgba(61, 60, 60, 0.755);
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .CatelogImage {
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .catelogGenderName {
      opacity: 0.9;
    }
  }

  .CatelogImage {
    width: 100%;
    z-index: 0;
  }

  .catelogGenderName {
    position: absolute;
    opacity: 0.6;
    border: 5px solid rgb(61, 60, 60);
    color: rgb(61, 60, 60);
    width: 4em;
    font-size: 2.5em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(251, 251, 251, 0.607);

    h4 {
      margin: 0;
      margin-bottom: 2px;
      padding: 0;
      font-size: 14px;
    }
  }
}
