// @import url("./assets/logo/owl-logo-background.png");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: rgb(117, 172, 172);
  align-items: center;
  position: relative;
  // background-image: url("owl-logo-background.png");
}
